TaxPaymentsGEL/Web References/WSGiron/ws_siim.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="MovilidadyServiciosSIIM" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="MovilidadyServiciosSIIM" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MovilidadyServiciosSIIM">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="reportar_accion_PSERequest">
    <wsdl:part name="cedula" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="reportar_accion_PSEResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recibir_datosPSERequest">
    <wsdl:part name="Codbank" type="xsd:string" />
    <wsdl:part name="CodService" type="xsd:string" />
    <wsdl:part name="Amount" type="xsd:string" />
    <wsdl:part name="TransactionDate" type="xsd:string" />
    <wsdl:part name="BankResponseDate" type="xsd:string" />
    <wsdl:part name="Document" type="xsd:string" />
    <wsdl:part name="cus" type="xsd:string" />
    <wsdl:part name="transactionCycle" type="xsd:string" />
    <wsdl:part name="TransactionState" type="xsd:string" />
    <wsdl:part name="IP" type="xsd:string" />
    <wsdl:part name="Reference" type="xsd:string" />
    <wsdl:part name="TickedID" type="xsd:string" />
    <wsdl:part name="IdProcess" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="recibir_datosPSEResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="MovilidadyServiciosSIIMPortType">
    <wsdl:operation name="reportar_accion_PSE">
      <wsdl:input message="tns:reportar_accion_PSERequest" />
      <wsdl:output message="tns:reportar_accion_PSEResponse" />
    </wsdl:operation>
    <wsdl:operation name="recibir_datosPSE">
      <wsdl:input message="tns:recibir_datosPSERequest" />
      <wsdl:output message="tns:recibir_datosPSEResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovilidadyServiciosSIIMBinding" type="tns:MovilidadyServiciosSIIMPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="reportar_accion_PSE">
      <soap:operation soapAction="http://181.143.219.235/siimpel/wssiim/ws_siim.php/reportar_accion_PSE" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="MovilidadyServiciosSIIM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="MovilidadyServiciosSIIM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recibir_datosPSE">
      <soap:operation soapAction="http://181.143.219.235/siimpel/wssiim/ws_siim.php/recibir_datosPSE" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="MovilidadyServiciosSIIM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="MovilidadyServiciosSIIM" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovilidadyServiciosSIIM">
    <wsdl:port name="MovilidadyServiciosSIIMPort" binding="tns:MovilidadyServiciosSIIMBinding">
      <soap:address location="http://181.143.219.235/siimpel/wssiim/ws_siim.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>